<body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <!-- Search Box-->
                <div class="search-box">
                    <button class="dismiss"><i class="icon-close"></i></button>
                    <form id="searchForm" action="#" role="search">
                        <input type="search" placeholder="What are you looking for..." class="form-control">
                    </form>
                </div>
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand -->
                            <a [routerLink]="['/dashboard']" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><span>
                                    </span><strong>Trùm Bán Thẻ</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i
                                        class="icon-search"></i></a>
                            </li>
                            <!-- Messages  
                                -->
                            <li class="nav-item dropdown"><a [routerLink]="['/configPartner']" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language"><span>Chỉnh Sửa
                                        Partner</span></a>
                            </li>
                            <li class="nav-item dropdown"><a [routerLink]="['/statistic']" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language"><span>Thống Kê
                                        Doanh Thu</span></a>
                            </li>
                            <!-- Logout    -->
                            <li class="nav-item">
                                <a href="login.html" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">

            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">Dashboard</h2>
                    </div>
                </header>
                <!-- Dashboard Counts Section-->
                <section class="dashboard-counts no-padding-bottom">
                    <div class="container-fluid">
                        <div class="row bg-white has-shadow">
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-violet"><i class="icon-user"></i></div>
                                    <div class="title"><span>Chưa Gạch</span>
                                        <div class="progress">
                                            <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>25</strong></div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-green"><i class="icon-padnote"></i></div>
                                    <div class="title"><span>Đã Gạch</span>
                                        <div class="progress">
                                            <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>70</strong></div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-orange"><i class="icon-bill"></i></div>
                                    <div class="title"><span>Đang Gạch</span>
                                        <div class="progress">
                                            <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>40</strong></div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-xl-3 col-sm-6">
                                <div class="item d-flex align-items-center">
                                    <div class="icon bg-red"><i class="icon-check"></i></div>
                                    <div class="title"><span>Gạch Lỗi</span>
                                        <div class="progress">
                                            <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="number"><strong>50</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dashboard">
                    <h2 class="text-center config-title-h1">Lịch Sử Gạch Thẻ</h2>
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-sm-12 form-control-label">Nhập Thông Tin Cần Tìm</label>
                                        <div class="col-sm-12">
                                            <input type="text" name="keySearch" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label class="col-sm-12 form-control-label">&nbsp;</label>
                                    <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                                </div>
                            </div>
                        </form>
                        <div class="container">
                            <div class="example-container mat-elevation-z8">
                                <mat-table [dataSource]="listData" matSort>

                                    <!-- cài đặt các row mat-sort-header cho phép người dùng sort -->
                                    <ng-container matColumnDef="ID">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="CARD">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>CARD</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.card}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="AMOUNT">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>AMOUNT</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.amount}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="PHONE">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>PHONE</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="TRANSID">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>TRANSID</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.transid}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="REALMONEY">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>REALMONEY</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.realMoney}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="STATUS">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="TIME_CREATED">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>TIME_CREATED</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.timeCreated}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="TIME_UPDATED">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>TIME_UPDATED</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.timeCreated}}</mat-cell>
                                    </ng-container>
                                    <!-- Hàng hiện các nút icon hành động -->
                                    <ng-container matColumnDef="ACTIONS">
                                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <!-- có thể custom các nút ở đây -->
                                            <button mat-icon-button color="red">
                                                <mat-icon>delete_outline</mat-icon>
                                                {{ row.type == 1 ? 'DEACTIVE' : 'ACTIVE' }}
                                            </button>
                                            <button mat-icon-button color="warn">
                                                <mat-icon>launch</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- end hành động -->




                                    <!-- cài đặt các header lấy từ biến displayedColumns -->
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    <!-- end cài đặt biến -->

                                    <!-- Hàng hiện trạng thái đang loading nếu loading xong sẽ biến mất -->
                                    <ng-container matColumnDef="loading">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            Loading data...
                                        </mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            No data.
                                        </mat-footer-cell>
                                    </ng-container>
                                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}">
                                    </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
                                    </mat-footer-row>
                                    <!-- end loading -->
                                </mat-table>
                                <!-- hiện paging trang -->
                                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageOption" showFirstLastButtons (page)="getServerData($event)">
                                </mat-paginator>
                                <!-- kết thúc page -->
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Trùm Bán Thẻ &copy; 2019</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>Design by <a href="https://www.facebook.com/zLeooz" class="external">Leoo</a></p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>