<body>
    <div class="page">
        <div class="page-content d-flex align-items-stretch">

            <div class="content-inner">
                <!-- Page Header-->
                <header class="page-header">
                    <div class="container-fluid">
                        <h2 class="no-margin-bottom">Thống Kê Doanh Thu</h2>
                    </div>
                </header>
                <!-- Dashboard Header Section    -->
                <section class="dashboard-header">
                    <h2 class="text-center config-title-h1"></h2>
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Statistics -->
                            <div class="statistics col-lg-3 col-12">
                                <div class="statistic d-flex align-items-center bg-white has-shadow">
                                    <div class="icon bg-red"><i class="fa fa-tasks"></i></div>
                                    <div class="text"><small>Doanh Thu Tháng
                                            Trước</small><br><small>12123123123$</small></div>
                                </div>
                                <div class="statistic d-flex align-items-center bg-white has-shadow">
                                    <div class="icon bg-green"><i class="fa fa-calendar-o"></i></div>
                                    <div class="text"><small>Doanh Thu Tháng Này</small><br><small>12123123123$</small>
                                    </div>
                                </div>
                                <div class="statistic d-flex align-items-center bg-white has-shadow">
                                    <div class="icon bg-orange"><i class="fa fa-paper-plane-o"></i></div>
                                    <div class="text"><small>Doanh Thu Trung Bình 1
                                            Ngày</small><br><small>12123123123$</small></div>
                                </div>
                                <div class="statistic d-flex align-items-center bg-white has-shadow">
                                    <select (change)="filterPartner()" class="form-control" [(ngModel)]="selectedValue" name="theSelect">
                                        <option value='-1' selected>All</option>
                                        <option  *ngFor="let c of listPartnerModelOption" [value]="c.id"
                                            ng-selected="c.name == selectedValue.name"><button>{{c.name}}</button></option>
                                    </select>
                                </div>
                            </div>
                            <!-- Line Chart            -->
                            <div class="chart col-lg-6 col-12">
                                <div class="line-chart bg-white d-flex align-items-center justify-content-center has-shadow">
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                            <div class="chart col-lg-3 col-12">
                                <!-- Bar Chart   -->
                                <div class="bar-chart has-shadow bg-white">
                                    <div class="title"><small>Thống Kê Chi Tiết Từng Ngày</small>
                                    </div>
                                    <canvas id="barChartHome"></canvas>
                                </div>
                                <!-- Numbers-->
                                <div class="statistic d-flex align-items-center bg-white has-shadow">
                                    <div class="icon bg-green"><i class="fa fa-line-chart"></i></div>
                                    <div class="text"><strong>99.9%</strong><br><small>Tỉ Lệ Tăng Trưởng</small></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>