div.container {
  max-width: 1400px;
  margin: auto;
  box-shadow: 0 0 #000;
  padding: 0 10px 10px 10px;
}
h2 {
  font-size: 2em;
  text-shadow: 0 0 4px #17a2b8;
  margin-bottom: 30px;
  text-align: center;
}
.button-row button {
  margin: 5px;
}
.hide {
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
.mat-icon-button {
  margin-right: auto;
}
