<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="page">
    <div class="page-content d-flex align-items-stretch">
        <div class="content-inner">
            <!-- Page Header-->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Danh Sách Cộng Tác Viên</h2>
                </div>
            </header>
            <section class="dashboard">
                <div class="container-fluid">
                    <div class="example-container mat-elevation-z8">
                        <mat-table [dataSource]="listData" matSort>

                            <!-- cài đặt các row mat-sort-header cho phép người dùng sort -->
                            <ng-container matColumnDef="ID">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="NAME">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>NAME</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="RATE">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>RATE</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.rate}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="PHONE">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>PHONE</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="TOKEN">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>TOKEN</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.token}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="TYPE">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</mat-header-cell>
                                <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
                            </ng-container>
                            <!-- Hàng hiện các nút icon hành động -->
                            <ng-container matColumnDef="ACTIONS">
                                <mat-header-cell *matHeaderCellDef>DETAIL</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <!-- có thể custom các nút ở đây -->
                                    <button mat-icon-button color="warn">
                                        <a [routerLink]="['/edit-partner/'+row.id]" >Chi tiết</a>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <!-- end hành động -->

                            <!-- cài đặt các header lấy từ biến displayedColumns -->
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            <!-- end cài đặt biến -->

                            <!-- Hàng hiện trạng thái đang loading nếu loading xong sẽ biến mất -->
                            <ng-container matColumnDef="loading">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    Loading data...
                                </mat-footer-cell>
                            </ng-container>
                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    No data.
                                </mat-footer-cell>
                            </ng-container>
                            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}">
                            </mat-footer-row>
                            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
                            </mat-footer-row>
                            <!-- end loading -->
                        </mat-table>
                        <!-- hiện paging trang -->
                        <mat-paginator class="grey lighten-5 w-100" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageOption" showFirstLastButtons (page)="getServerData($event)">
                        </mat-paginator>
                        <!-- kết thúc page -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>