.input-group-text {
  color: #868e96;
  background: #f8f9fa;
  border-color: #dee2e6;
  border-radius: 0;
}
input.input-material {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
input.input-material:focus {
  border-color: #796aee;
}
.form-group-material {
  position: relative;
  margin-bottom: 30px;
}
.login-page .form-holder .form,
.login-page .form-holder .info {
  min-height: 70vh;
  padding: 40px;
  height: 100%;
}
.login-page .form-holder .info {
  background: rgba(121, 106, 238, 0.9);
  color: #fff;
}
.login-page .form-holder .info h1 {
  font-size: 2.5em;
  font-weight: 600;
}
.login-page .form-holder .info p {
  font-weight: 300;
}
.login-page .form-holder .form .form-group {
  position: relative;
  margin-bottom: 30px;
}
.login-page .form-holder .form a.signup {
  font-size: 0.9em;
  color: #85b4f2;
}
@media (max-width: 991px) {
  .login-page .form,
  .login-page .info {
    min-height: auto !important;
  }
  .login-page .info {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
}
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.25);
}
.btn-primary {
  color: color-yiq(#796aee);
  background-color: #796aee;
  border-color: #796aee;
}
.btn-primary:hover {
  color: color-yiq(#5a48ea);
  background-color: #5a48ea;
  border-color: #503ce9;
}
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(121, 106, 238, 0.5);
}
.btn-primary:disabled {
  color: color-yiq(#796aee);
  background-color: #796aee;
  border-color: #796aee;
}
.btn-info {
  color: color-yiq(#17a2b8);
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:hover {
  color: color-yiq(#138496);
  background-color: #138496;
  border-color: #117a8b;
}
.btn-info:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-info:disabled {
  color: color-yiq(#17a2b8);
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
.h1,
h1 {
  font-size: 1.5rem;
}
.h2,
h2 {
  font-size: 1.3rem;
}
.h3,
h3 {
  font-size: 1.2rem;
}
.h4,
h4 {
  font-size: 1.1rem;
}
.h5,
h5 {
  font-size: 1rem;
}
.text-primary {
  color: #796aee !important;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #503ce9 !important;
}
.bg-primary {
  background-color: #796aee !important;
}
a.bg-primary:focus,
a.bg-primary:hover {
  background-color: #503ce9 !important;
}
.bg-info {
  background-color: #17a2b8 !important;
}
a.bg-info:focus,
a.bg-info:hover {
  background-color: #117a8b !important;
}
.text-primary {
  color: #796aee !important;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #503ce9 !important;
}
.text-info {
  color: #17a2b8 !important;
}
a.text-info:focus,
a.text-info:hover {
  color: #117a8b !important;
}
